*{
    box-sizing: border-box;
}

h1{
    margin-bottom: 15px;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 175%;
}

.row{
    width: 100%;
}

.container{
    border: 1px solid black;
    background-color: lightblue;
    font-family: Georgia, serif;
}

#b1{
    border: 1px solid black;
    background-color: #FFC300;
    padding:2px;
    width: fit-content;
    float:right;
    font-family: Georgia, serif;
    font-size: 125%;
}

#b2{
    border:1px solid black;
    background-color: #0739F9;
    padding:2px;
    width: fit-content;
    float:right;
    font-family: Georgia, serif;
    font-size: 125%;
}
#b3{
    border:1px solid black;
    background-color: #32F907;
    padding:2px;
    width: fit-content;
    float:right;
    font-family: Georgia, serif;
    font-size: 125%;
}
section{
    clear: right;
    padding: 0px 10px;
}
.bold{
    font-weight: bolder;
}

@media (min-width:992px) {
    .lg{
        float:left;
        width:33.3%;
        
    }
    .container{
        margin: 10px;
        
    }
    /* borders not adding up in contrast to postioning */
    #b1,#b2,#b3{
        margin: 10px 10px 0px 10px
    }
}

@media (min-width:768px) and (max-width: 991px) {
    .md-1,.md-2{
        float:left;
    }
    .md-1{
        width:50%;
    }
    .md-2{
        width:100%
    }
    .container{
        margin: 10px;
    }
    /* borders not adding up */
    #b1,#b2,#b3 {
        margin: 10px 10px 0px 10px
    }
}

@media (max-width:767px) {
    .sm{
        float:left;
        width:100%;
    }
    .container{
        margin: 10px 50px 10px 50px;
    }
    /* borders not adding up */
    #b1,#b2,#b3{
        margin: 10px 50px 0px 50px
    }
}