*{
    box-sizing: border-box;
}

h1{
    margin-bottom: 15px;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 175%;
}

section{
    clear: right;
    padding: 0px 10px;
}


.row{
    width: 100%;
}

.container{
    border: 1px solid black;
    background-color: lightblue;
    font-family: Georgia, serif; 
    height: 145px;
    overflow: hidden;
}

.markup{
    font-weight: bolder;
    font-style: italic;
}

#b1{
    border: 1px solid black;
    background-color: #FFC300;
    padding:2px;
    width: fit-content;
    float:right;
    font-family: Georgia, serif;
    font-size: 125%;
    position: relative;
    top: -1px;
    right: -1px;
}

#b2{
    color: white;
    border:1px solid black;
    background-color: #900C3F;
    padding:2px;
    width: fit-content;
    float:right;
    font-family: Georgia, serif;
    font-size: 125%;
    position: relative;
    top: -1px;
    right: -1px;
}
#b3{
    border:1px solid black;
    background-color: #04B605;
    padding:2px;
    width: fit-content;
    float:right;
    font-family: Georgia, serif;
    font-size: 125%;
    position: relative;
    top: -1px;
    right: -1px;
}


@media (min-width:992px) {
    .lg{
        float:left;
        width:33.3%;
    }
    .container{
        margin: 10px;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    .md-1,.md-2{
        float:left;
    }
    .md-1{
        width:50%;
    }
    .md-2{
        width:100%
    }
    .container{
        margin: 10px;
    }
}

@media (max-width:767px) {
    .sm{
        float:left;
        width:100%;
    }
    .container{
        margin: 10px 50px 10px 50px;
    }
}