*{
    box-sizing: border-box;
}

h1{
    margin-bottom:15px;
}

p{
    border: 2px solid bisque;
    background-color: #33CEFF;
    width:90%;
    height:150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial;
    color: white;
}

.row{
    width: 100%;
}